[Desktop Entry]
Name=RustRover 2023.3 EAP
Exec="/home/simbaclaws/.local/share/JetBrains/Toolbox/apps/rustrover/bin/rustrover.sh" %u
Version=1.0
Type=Application
Categories=Development;IDE;
Terminal=false
Icon=/home/simbaclaws/.local/share/JetBrains/Toolbox/apps/rustrover/bin/rustrover.svg
Comment=A powerful IDE for Rust
StartupWMClass=jetbrains-rustrover
StartupNotify=true
